$font-color: rgb(153, 72, 72);
$link-highlight: rgb(216, 137, 137);
$bg-color: rgb(50, 50, 59);
$bg-color2: rgb(121, 121, 136);

html {
    font-size: 10px;
}
body {
    background-color: $bg-color;
    color: $font-color;
    font-family: Dosis, Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

// main body
.main-body {
    margin-top: 80px;
}
// responsive main body
@media (max-width: 992px) {
    .main-body { margin-top: 40px;}
}
@media (max-width: 768px){
    .main-body { margin-top: 0;}
}

// Font Styling

%font-style {
    margin: 0;
    padding: 0;
}

h1 {
    @extend %font-style;
    font-size: 4.5rem;
    font-weight: 800;
    font-style: italic;
}
h2 {
    @extend %font-style;
    font-size: 3.2rem;
    font-weight: 800;
    font-style: italic;
}
p {
    @extend %font-style;
    font-size: 2.1rem;
    text-indent: 30px;
}
.standard-text {
    @extend %font-style;
    font-size: 2.1rem;
}

// Link styling
a {
    color: $font-color;
    font-style: italic;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: $link-highlight;
    }
}


// Top Navbar

#djl {
    &:hover {
        color: rgb(129, 168, 168);
        text-decoration: none;
    }
}

.top-bar {
    font-size: 1.8rem;
    margin: 10px;
    
    ul {
        list-style-type: none;
    }
    
    li {
        padding: 5px;
        float: left;
    }
}

// header top bar

.header-topbar {
    background-color: $bg-color2;
    padding: 10px 100px;
}
@media (max-width: 900px) {
    .header-topbar {
        padding: 10px;
    }
}


// home page
.home-banner {
    margin-top: 100px;
}
@media (max-width: 992px) {
    .home-banner {
        margin-top: 0;
        img {
            width: 100%;
        }
    }
}

.home-nav {
    font-size: 2.1rem;
}

// aboutme page

.about-music-table {
    display: inline-block;
    height: 360px;
    margin: 5px;
    td {
        border-spacing: 0 0;
        padding: 0px;
        border: 2px solid rgb(0, 0, 0);
    }
    img {
        height: 160px;
        width: 160px;
    }
}

// blog page

.blog-post {
    p.blog-date {
        font-size: 2rem;
        font-style: italic;
    }
    p.blog-text {
        font-size: 1.6rem;
        padding: 10px 0;
        text-indent: 30px;
    }
}